.parallax {
  margin-top: -15vh;
  position: relative;
  overflow: hidden;
  display: grid;
  height: 120vh; /* Ajusta según sea necesario */
  background-color: #000; /* Fondo negro para simular el espacio */
  background-image: url('../../assets/contactMe/espacio.jpg');
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-attachment: fixed; /* Mantiene el fondo fijo al hacer scroll */
  background-position: center; /* Centra la imagen en el fondo */
  z-index: 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.planet {
  position: absolute;
  width: 25rem; /* Ajusta el tamaño según sea necesario */
 /* animation: float 6s ease-in-out infinite; */
  bottom: -5%;
  left: 20%;
  z-index: 0; 
}

.luna {
  position: absolute;
  width: 100px; /* Ajusta el tamaño según sea necesario */
  top: 35%;
  left: 70%;
  z-index: 10;
}

.astronaut {
  position: absolute;
  width: 20rem; /* Ajusta el tamaño según sea necesario */
  animation: float 8s ease-in-out infinite; 
  top:35%;
  left:0%;
  z-index: 10;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

footer {
  position: relative; /* Asegúrate de que el footer esté en el flujo normal */
  z-index: 10; /* Asegúrate de que el footer esté por encima del fondo */
}

/* Estilos adicionales para el footer */
footer a {
  font-size: 24px; /* Tamaño de texto */
  transition: color 0.3s ease; /* Transición de color */
  align-self: center;
}

.footer {
  display: flex; /* Aplica flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding: 1rem; /* Padding de 1rem (16px) en todos los lados */
  color: #FFFFFF; /* Color del texto blanco */
  width: 35%;
  height: 12%;
  background: #fff;
  align-self: center;
  justify-self: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  padding: 10px;
  background: #fafafa10;
  backdrop-filter: blur(0.4rem);
}

.contactMe-tiktok,
.contactMe-linkedin,
.contactMe-github {
  background: #fff;
  border-radius: 9px;
  padding: 5px;
  font-size: 3rem;
}

.contactMe-tiktok:hover,
.contactMe-linkedin:hover,
.contactMe-github:hover {
  background: #3E3F5B;
}
.contactMe-tiktok { color: #222831;}
.contactMe-linkedin { color: #547792 ;}
.contactMe-github { color: #FFA55D;}

.link {
  margin-left: 16px; /* Margen izquierdo de 16px */
  margin-right: 16px; /* Margen derecho de 16px */
  font-size: 24px; /* Tamaño de fuente de 24px */
  transition: color 0.3s ease; /* Transición de color en 300ms */
}

/* Estilo para el estado hover */
.link:hover {
  color: #3b82f6; /* Color azul al pasar el mouse */
}


@media screen and (min-width: 701px) {
.planet {
    bottom: 10%;
  }

 .astronaut {
    left: 10%;
  }

 .footer {
  width: 25%;
}
}

@media screen and (max-width: 700px) {
.planet {
    bottom: 3%;
  }

.astronaut {
    top: 25%;
  }

.footer {
    width: 70%;
  }  
}
