@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.projects {
    max-width: calc(100vw + 4rem);
    overflow-x: hidden;
    padding-top: 3rem;
    padding-bottom: 2rem;
    position: relative;
    background: #e0f2fe;
    color: #1e293b;
}

.portfolio-title--container {
  margin: 1rem 0rem 8rem 0rem;
  justify-self: center;
}

.portfolio-title {
    text-align: center; /* Centrar el texto */
    margin-right: 6em;
}
.portfolio-title-1 {
    font-size: 5.5em; /* Tamaño de fuente grande */
    color: #4CAF50; /* Color inicial */
    margin: 20px 0; /* Espaciado superior e inferior */
    background: linear-gradient(to top, blue, pink); 
    font-weight: bold;

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

    -webkit-background-clip: text; /* Clip del fondo para el texto */
    -webkit-text-fill-color: transparent; /* Hacer el color del texto transparente */
    transition: background 0.5s ease; /* Transición suave */
}
.portfolio-title-2 {
    font-size: 4em; /* Tamaño de fuente grande */
    color: #4CAF50; /* Color inicial */
    margin: 20px 0; /* Espaciado superior e inferior */
    background: linear-gradient(90deg, #257180, #7E60BF); /* Degradado */
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

    -webkit-background-clip: text; /* Clip del fondo para el texto */
    -webkit-text-fill-color: transparent; /* Hacer el color del texto transparente */
    transition: background 0.5s ease; /* Transición suave */
}

.portfolio-title-1:hover,
 .portfolio-title-2:hover{
    background: linear-gradient(70deg, #BE5985, #7A73D1); /* Degradado al hacer hover */
    -webkit-background-clip: text; /* Clip del fondo para el texto */
    -webkit-text-fill-color: transparent; /* Hacer el color del texto transparente */
}

.portfolio-h2,
.portfolio-h3 {
  font-size: 2.2rem;
  font-weight: bold;
  background: transparente;
  color: #2A4759;
  text-align: center;
  margin-right: 6rem;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  }
.portfolio-h2 {
  background: linear-gradient(45deg, #2A4759 50%, #AEEA94);
    -webkit-background-clip: text; /* Clip del fondo para el texto */
    -webkit-text-fill-color: transparent; /* Hacer el color del texto transparente */
}

.portfolio-h3 { font-size: 1.2rem;}


.grid-container {
    display: grid;
    width: 100vw;
    justify-self: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.0rem;
    border-radius: 30px 30px;  
    justify-items: center; 
    padding: 0% 15% 0% 15%; 
}

.grid-item { 
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 300px; /* Ancho de la tarjeta */
    border: 1px solid #ccc; /* Borde de la tarjeta */
    border-radius: 1rem; /* Bordes redondeados */
    overflow: hidden; /* Ocultar el desbordamiento */
    background: #fff;  
    transition: transform 0.3s; /* Transición suave */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 0; 
}

.grid-item:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

.container-img--card {
  display: grid;
  grid-template-columns: 100%;
}

.card-title-h3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 1.5rem;
  font-style: normal;
  align-content: center;
  text-align: center;
  color: black;
  margin-top: 1rem;
}

.description {
    position: absolute; /* Posicionamiento absoluto */
    bottom: 0; /* Alinear al fondo */
    left: 0; /* Alinear a la izquierda */
    right: 0; /* Alinear a la derecha */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
    backdrop-filter: blur(10px);
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    transform: translateY(100%); /* Ocultar inicialmente */
    transition: transform 0.3s; /* Transición suave */
    border-radius: 1rem 1rem 0rem 0rem;
     
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.description.show {
    transform: translateY(0); /* Mostrar la descripción */
}

.card-buttons {
    width: 90%;
    height: 100%;
    display: flex; /* Usar flexbox para los botones */
    justify-content: space-between; /* Espacio entre los botones */
    align-self: center;
    gap: 1rem; 
    padding: 1rem 0 1rem 0;
    border-top: solid 1px black;
}

.btn-description,
.btn-sendPage {
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    font-weight: bold;  
    transition: background-color 0.3s; /* Transición suave */   
    padding: 1rem;
    border-radius: 9999px;   
    text-align: center;
    align-self: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn-description {
  background-color: #93c5fd; /* Color de fondo */
  color: #333; /* Color del texto */
}

.btn-description:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
    color: white;
}

.btn-sendPage {
  background: #243642;
  color: white;
  text-decoration: none;
}

.btn-sendPage:hover {
  background: #94B4C1; /* Color de fondo al pasar el mouse */
  color: black;
}

.container-close {
  background: transparent;
  border: none;
  padding: 2px;
  border-radius: 9px;
  display: grid;
  justify-self: end;
}

.close-project {
  width: 2rem;
  height: 2rem;
  padding: 2px;
  background: black;
  border-radius: 9px;
  color: tomato;
  align-self: center;
  cursor: pointer;
}

.close:hover {
  color: #F6DC43;
  transition: transform 0.4s;
  transform: scale(1.2);
}

.card-img {
  margin-top: 1rem; 
  width: 100%; /* Imagen ocupa todo el ancho de la tarjeta */
  height: 100%; /* Mantener la proporción de la imagen */
  justify-self: center;
  align-self: center;
  align-content: center;
}

.crud,
.dataServer,
.encriptador,
.router,
.todo,
.e-commerce,
.landing,
.products,
.portafolio {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  justify-self: center;
  align-self: center;
  border-radius: 50%; 
  box-shadow: rgba(50, 50, 93, 0.25) 10px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.previousText {
  margin: 1rem;
  height: 7.0rem;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 1.25rem;
}

.nodeImg { width: 10em; height: 10em; background: #F2E2B1; padding: 1rem; border-radius: 50%; object-fit: cover;}
.encriptador, .portafolio { object-fit: fill; }

.dataServer {
  background: rgb(97,192,245);
  background: radial-gradient(circle, rgba(97,192,245,1) 0%, rgba(94,223,159,1) 100%);
}

.crud {
  background: rgb(198,233,228);
  background: radial-gradient(circle, rgba(198,233,228,1) 0%, rgba(218,160,237,1) 100%);
}

.icon-container--card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); 
  justify-items: center;
  align-content: center;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
}
.icon-container--card > li {
  display: grid;
  grid-template-rows: 50% 50%;
  width: 100%; 
  justify-self: center;
  text-align: center;
}
.span-cards {
  font-weight: bolder;
  color: black;
  margin: 0.25rem 0 0.65rem 0;
}

.java-card,
.mysql-card,
.springBoot,
.node-card,
.express-card,
.js-card,
.html-card,
.css-card,
.jsx-card,
.react-card,
.tailwind-card,
.tsx-card,
.ts-card {
  justify-self: center;
  width: 2rem;
  height: auto;
  padding: 2px;
  color: black;
}

@media (max-width: 2500px) {
  .grid-item {
    width: 350px;  
  }

  .grid-container { 
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    padding: 0% 15% 0% 15%; 
  }

}

@media (max-width: 2499px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    padding: 0% 10% 0% 10%; 
  }

  .grid-item {
    width: 300px;
  }
}

@media (max-width: 1200px) {
  .portfolio-h2,
  .portfolio-h3 {
  margin-right: 3rem;
  }

.grid-container {
    display: grid;
    width: 100vw;
    justify-self: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.0rem;
    border-radius: 30px 30px;  
    justify-items: center; 
    padding: 0rem 1rem 0rem 1rem; 
}

.grid-item { 
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 300px; /* Ancho de la tarjeta */
    border: 1px solid #ccc; /* Borde de la tarjeta */
    border-radius: 1rem; /* Bordes redondeados */
    overflow: hidden; /* Ocultar el desbordamiento */
    background: #fff;  
    transition: transform 0.3s; /* Transición suave */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 0; 
}

}


@media (max-width: 768px) {
  .portfolio-title--container {
  margin: 9rem 0rem 2rem 0rem;
  justify-self: center;
  }

.portfolio-h2,
.portfolio-h3 {
  font-size: 1.8rem;
 margin: 0 1rem 0 1rem;
  }

.portfolio-h3 { font-size: 1rem;}

.portfolio-title { 
    justify-self: center; 
    margin: 0;
  }

}
