@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.courses {
  max-width: auto;
  height: 100%;
  padding: 20px;
  position: sticky;
  top: 0;
  background: #e0f2fe;
  overflow-x: hidden;
}

.h1-courses {
  justify-self: center;
}

.h1-courses-1 {
  font-size: 5rem;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;


   background: linear-gradient(to top, #BE5985, #7A73D1); /* Degradado al hacer hover */
  -webkit-background-clip: text; /* Clip del fondo para el texto */
  -webkit-text-fill-color: transparent; /* Hacer el color del texto transparente */
}
.h1-courses-2 {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;


  background: linear-gradient(70deg, #C599B6 60%, #A0C878); /* Degradado al hacer hover */
  -webkit-background-clip: text; /* Clip del fondo para el texto */
  -webkit-text-fill-color: transparent; /* Hacer el color del texto transparente */
}
.courses-card--container {
  position: relative;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  padding: 10px;
  gap: 10px;
}

.btn-course {
  height: 2rem;
  color: white;
  font-weight: bolder;
  background: linear-gradient(45deg, #27548A, #393E46);
  border: none;
  margin: 4px;
  margin-top: 1rem;
  border-radius: 9px;
  cursor: pointer;
}
.btn-course:hover {
  background: linear-gradient(45deg, #3B6790, #EFB036); 
}

.courses-card--container::-webkit-scrollbar {
  display: none;
}

.course-card {
  display: flex; 
  flex-direction: column;
  width: 25rem;
  height: auto;
  background: #89A8B2;
  padding: 10px;
  border-radius: 9px;
  object-fit: fill;
}

.img-card {
  width: 20rem;
  height: 100%; 
  object-fit: cover;
}
.img-card--full {
  width: 40rem;
  height: auto; 
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.noModal {
  display: none;
}

.modal-content {
    position: relative;
}

.close {
    display: grid;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: #B0BEC5;
    color: #FFFFFF;
    font-size: 3rem;
    cursor: pointer;
    text-align: center;
    align-content: center;
    font-weight: bold;
    padding: 0rem;
    width: 3rem;
    height: 3rem;
}
.close:hover {
  background: #FF4C4C;
  color: #FFFFFF;
}

.btn-course--container {
  margin: 1rem 0 0 0;
  width: 100%;
  height: 10%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.buttonStyleLeft,
.buttonStyleRight{
  display: grid;
  background: linear-gradient(to top, #102E50, #077A7D);
  text-align: center;
  align-self: center; 
  align-content: center;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 3rem;
  height: 3rem;
  border-radius: 9px;
  zIndex: 1;
}
.buttonStyleLeft:hover,
.buttonStyleRight:hover{
  background: linear-gradient(45deg, #3B6790, #EFB036); 
}

/* ImageSlider.css */
.slider-container {
  overflow: hidden; /* Oculta el desbordamiento */
  width: 100%; /* Ancho del contenedor */
  position: relative; /* Posicionamiento relativo para el contenedor */
}

.slider-right {
  display: flex; /* Usar flexbox para alinear las imágenes en fila */
  animation: slide 20s linear infinite; /* Animación que dura 20 segundos, es lineal y se repite infinitamente */
}

.slider-left {
  display: flex; /* Usar flexbox para alinear las imágenes en fila */
  animation: slide-left 20s linear infinite; /* Animación que dura 20 segundos, es lineal y se repite infinitamente */
}


/* Definición de la animación */
@keyframes slide {
  0% {
    transform: translateX(100%); /* Comienza en la posición original */
  }
  100% {
    transform: translateX(-100%); /* Mueve el slider hacia la izquierda */
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-100%); /* Comienza en la posición original */
  }
  100% {
    transform: translateX(100%); /* Mueve el slider hacia la izquierda */
  }
}

.animated-div {
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
  background: #fff;
  align-items: center;
  position: sticky;
  border-radius: 30px 30px 0 0;
  background: linear-gradient(to bottom, #2C2C2C 70%, transparent 100%);
  z-index: 8;
}

.image-platzi,
.image-alura {
  width: 6rem;
  height: 6rem;
  padding: 0.4rem;
  border-radius: 9px;
  background: transparent; 
  align-self: center;
  transform: rotate(90deg);
  transform: scale(0.7);
}
.image-alura {
  border-radius: 1rem;
  width: 6.5 rem;
  height: 6.5rem;
}

.platzi,
.alura {
  display: grid;
  position: relative;
  cursor: pointer;
  width: 6rem;
  height: 9rem;
  background: transparent;
  border-radius: 15% 10% 23% 20%;
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.2);
  transform:rotate(45deg);
  text-decoration: none;
}
.alura { transform:rotate(-45deg); }

.platzi:before,
.alura:before {
  content:"";
  position: absolute;
  width: 100%;
  height: 90%;
  border-radius: 50%;
  background: #A6AEBF;
  filter: blur(0.5rem); 
  top: 20%;
  left: 0%;
  transform:rotate(45deg);
}
.alura:before {
  transform:rotate(-45deg);
}

.platzi:hover,
.alura:hover {
  background: green;
  transition: 0.5s;
  transform:rotate(0deg);
}
.alura:hover { background: purple; }

.h3-platzi,
.h3-alura {
  transform: translateY(-3rem);
}
.platzi:hover .h3-platzi,
.alura:hover .h3-alura {
  transition: 0.5s; /* Transición suave para el hover */
  transform: translateY(0);
  z-index: 1;
  color: white;
}
.platzi:hover .top-platzi,
.platzi:hover .left-platzi,
.platzi:hover .bottom-platzi,
.platzi:hover .right-platzi,
.alura:hover .top-alura,
.alura:hover .left-alura,
.alura:hover .bottom-alura,
.alura:hover .right-alura {
  transition: 0.5s; /* Transición suave para el hover */
  transform: translateY(0);
  z-index: 1;
  color: white;
  background: white;
}

.platzi:hover .image-platzi,
.alura:hover .image-alura {
  transition: 0.5s;
  background: #fff;
  transform: rotate(0deg);
  z-index: 99;
} 

.top-platzi,
.top-alura { 
  position: absolute;
  width: 100%;
  height: 15%;
  bottom:50%;
  left: 0;
  background: tomato;
  border-radius: 9px 9px 0 0 ;
  transform: translateY(-3rem);
}
.top-alura { background: blue; }

.left-platzi,
.left-alura {
  position: absolute;
  width: 20%;
  height: 60%;
  bottom: 5%;
  left: 0;
  background: tomato;
  border-radius: 9px 0px 0 9px ;
  transform: translateX(-2rem);
}
.left-alura { background: blue; }

.bottom-platzi,
.bottom-alura {
  position: absolute;
  width: 100%;
  height: 15%;
  top:85%;
  right: 0;
  background: tomato;
  border-radius: 0px 0px 9px 9px ; 
  transform: translateY(2.5rem);
}
.bottom-alura { background: blue; }

.right-platzi,
.right-alura { 
  position: absolute;
  width: 20%;
  height: 60%;
  bottom: 5%;
  right: 0;
  background: tomato;
  border-radius: 0px 9px 9px 0px ;
  transform: translateX(2rem);
}
.right-alura { background: blue; }

@media (min-width: 1400px) {
.h1-courses {
    justify-self: center;
    font-size: 4em;
  }

.btn-course--container {
    justify-self: center;
    width: 60%;
  }

.close {
    top: 10%;
    right: 30%;
}

}


@media (max-width: 668px) {
.course-card {
  width: 17rem;
}

.img-card {
  width: 15rem;
  height: 100%; 
  object-fit: fill;
}

.platzi,
.alura {
  width: 10%;
  height: 12%;
  background: transparente;
  transition: 0.5s;
  transform:rotate(0deg);
}
.alura { background: transparente; }
.h3-platzi,
.h3-alura { 
  transition: 0.5s; /* Transición suave para el hover */
  transform: translateY(0);
  z-index: 1;
  color: white;
}

.top-platzi,
.left-platzi,
.bottom-platzi,
.right-platzi,
.top-alura,
.left-alura,
.bottom-alura,
.right-alura {
  display: none;
  transition: 0.5s; /* Transición suave para el hover */
  transform: translateY(0);
  z-index: 1;
  color: white;
  background: white;
}

.image-platzi,
.image-alura {
  transition: 0.5s;
  background: #fff;
  transform: rotate(0deg);
  z-index: 99;
} 

}


@media (min-width: 668px) {

.platzi,
.alura {
  width: 10%;
  height: 12%;
  background: transparente;
  transition: 0.5s;
  transform:rotate(0deg);
}
.alura { background: transparente; }
.h3-platzi,
.h3-alura { 
  transition: 0.5s; /* Transición suave para el hover */
  transform: translateY(0);
  z-index: 1;
  color: white;
}

.top-platzi,
.left-platzi,
.bottom-platzi,
.right-platzi,
.top-alura,
.left-alura,
.bottom-alura,
.right-alura {
  display: none;
  transition: 0.5s; /* Transición suave para el hover */
  transform: translateY(0);
  z-index: 1;
  color: white;
  background: white;
}

.image-platzi,
.image-alura {
  transition: 0.5s;
  background: #fff;
  transform: rotate(0deg);
  z-index: 99;
} 
}
